
**/backend-config.hcl
**/backend-config.tfvars
**/.terraform-backend-config
**/*.tfstate
**/*.tfstate.*
**/*.tfstate.backup
**/*.auto.tfvars
**/secrets.tfvars
**/sensitive.tfvars
**/.terraform/
**/.terraform.lock.hcl
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/*.tfplan
**/plan.txt
**/.terraformrc
**/terraform.rc
/ext
scripts/